/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.right-position {
  text-align: right;
}

.left-position-tabel {
  text-align: left;
}
