<%- include('../partials/header')%>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <% if(successMessage.length> 0){ %>
            <div class="alert alert-success" role="alert">
                <%= successMessage %>
            </div>
            <% } %>

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Change Password</h1>

                <div class="card">
                    <form action="" method="post">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text-primary">Change Your Password</h6>
                        </div>

                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="oldpassword" class="col-sm-2 col-form-label">Old Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="oldpassword" name="oldpassword">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="newpassword" class="col-sm-2 col-form-label">New Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="newpassword" name="newpassword">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="retypepassword" class="col-sm-2 col-form-label">Retype Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="retypepassword"
                                        name="retypepassword">
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-fw fa-database"></i>
                                </span>
                                <span class="text">Update</span>
                            </button>
                        </div>

                    </form>
                </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <%- include('../partials/footer')%>